.cover__link {
  color: #fff;
  margin: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 740px;
  z-index: 0;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: .3;
  z-index: -1;
  transition: opacity 0.3s linear;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .cover__link {
    min-height: 200px;
  }
}
