.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 48px;
}
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
}
}

