.footer__link {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .footer__link {
    flex-direction: column;
    gap: 32px;
    margin: 0 0 48px 0;
  }
}
