.lead__title {
  max-width: 720px;
  margin: auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 440px;
    font-size: 62px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
