.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding-top: 26px;
}

.place__paragraph:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    padding-top: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding-top: 25px;
}
}

@media screen and (max-width: 550px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
