.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.place__paragraph:last-child {
  padding-top: 26px;
}

.place__paragraph:only-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph:last-child {
    padding-top: 27px;
  }
  .place__paragraph:only-child {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:last-child {
    padding-top: 25px;
  }
  .place__paragraph:only-child {
    padding-top: 0;
  }
}
