.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: website;
}

@media screen and (max-width: 550px) {
  .place__website {
    padding-left: 16px;
  }
}
